html {
  box-sizing: border-box;
  color: #2f2d13;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  display: block;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ffe500;
}

h1 {
  display: block;
  margin: 0;
  font-family: "Sigmar One", serif;
  font-size: 3rem;
  color: #b20953;
  text-align: center;
}

nav ul {
  margin: 0;
  padding: .6em;
  text-align: center;
  list-style-type: none;
  font-family: georgia, serif;
}

nav li {
  display: inline;
  padding: 0;
}

nav a {
  display: inline-block;
  width: auto;
  margin: 0;
  padding: .2em .75em;
  background-color: #b2a212;
  color: #fff;
  border-radius: 4px;
  text-decoration: none;
  text-align: center;
}

a:hover {
  background-color: #cc1465;
}

section {
  padding: 0 .75em;
}

h2 {
  font-family: "Sigmar One", serif;
  font-size: 1.875rem;
  color: #b20953;
  text-align: left;
}

img {
  display: block;
  width: 100%;
}

p {
  font-family: Georgia, serif;
  font-size: 1.125rem;
  margin: 0;
}

footer {
  background-color: #ffe500;
  font-size: .75rem;
  text-align: center;
  padding: 1em;
  margin-top: 0;
}

.nav .current {
  background-color: #b20953;
}
